.modal {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: var(--min-main-height);
  justify-content: center;
  left: 50%;
  padding: 0 1rem;
  position: absolute;
  top: var(--navbar-height);
  transform: translate(-50%);
  width: 80vh;
}

.modal .close-btn {
  background-color: transparent;
  font-size: x-large;
  font-weight: bold;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.modal .close-btn:hover {
  background-color: transparent;
  transform: scale(1.2);
}
